/* main.css */

html, body, h1, h2, h3, h4, p, div, ul, ol, li {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
/*  background: #E3AE57;*/

}
h1 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  
}
h2 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 100;
  text-align: center;
  color: #DC3D24;
  width: 700px;
  margin: 0 auto 0 auto;
  
}
h2 strong {
  font-weight: 400;
  color: #E3AE57;
}
.header {
  background-color: #232B2B;
  color: #FFFFFF;
  text-decoration: underline;
}
h3 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 28px;
  font-weight: normal;
  text-align: center;
  border-bottom: 1px solid #555555;
  margin: 20px 0 20px 0;
}
p {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;}
a {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #DC3D24;
}
a:hover {
  color: #aa0000;
  text-decoration: underline;
}
.tagline {
  background-color: #232B2B;
  padding: 20px 0 20px 0;
}
.clients, .locations, .articles, .services {
  width: 700px;
  margin: 0 auto;
}
.clients ul, .locations ul, .articles ul, .services ul {
  list-style-type: none;
}
.clients li, .locations li, .articles li, .services li {
  margin-bottom: 10px;
}
.locations img {
  float: left;
  padding-right: 10px;
  width: 50px;
  height: 50px;
}
.services {
  margin-bottom: 20px;
}
.services li {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  background-color: #444444;
  color: #cccccc;
  display: inline;
  padding: 8px 8px 8px 8px;
  margin-right: 10px;
}
.footer {
  background-color: #232B2B;
  text-align: center;
  padding: 20px 0 20px 0;
}